<tr>
  <td class="created">{{ formatDate created_at }}</td>
  <td class="type">{{ postType type }}</td>
  <td class="user">{{ user.username }}</td>
  <td class="actions"><a href="/admin/unignore-user/{{ id }}" class="btn btn-danger">Unignore</a></td>
</tr>